---
layout: default
landing: true
title: getting your mind like water
---

<div id="about">

    <p><img style="float: left; margin: 5px" src="{{ site.base_url }}/images/zanshin-logo.png" />
    <br/>Zanshin is a powerful yet simple application to manage your day to day actions.
    It helps you organize and reduce the cognitive pressure of what you have
    to do in your job and personal life. You'll never forget anything anymore,
    <em>getting your mind like water</em>.<br/><br/></p>

    <p>On this website you can get <a href="{{ site.base_url }}/news">news</a>
    about the application, more details about Zanshin's
    <a href="{{ site.base_url }}/features">features</a>,
    where to <a href="{{ site.base_url }}/install">get it</a>, or how to
    <a href="{{ site.base_url }}/join">join the community</a>.</p>
</div>

<img src="https://origin.cdn.kde.org/screenshots/zanshin/zanshin.png" width="100%" />
<div style="margin-top: -20px; text-align: right">
    <em style="font-size: 80%">Zanshin's user interface lets you quickly see an overview of your life and tasks.</em>
    <br/><br/><br/>
</div>

<table>
    {% for post in site.posts limit:3 %}
    <tr>
        <td>{{ post.date | date_to_string }}&nbsp;&nbsp;&nbsp;</td>
        <td><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></td>
    </tr>
    {% endfor %}

    <tr>
        <td></td>
        <td><a href="{{ site.base_url }}/news">More...</a></td>
    </tr>
</table>

